<launch>

  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="lego_loam_bor" exec="lego_loam_bag" output="screen" respawn="false">
    <param from="$(find-pkg-share lego_loam_bor)/config/loam_bag_airy_config.yaml" />
  </node>

  <node pkg="rviz2" exec="rviz2" output="screen" respawn="false" args="-d $(find-pkg-share lego_loam_bor)/rviz/lego_loam_airy.rviz">
  </node>

  <!--- TF -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="baselink2footprint"  args="0.0 0 -0.32 0.0 0.0 0 base_link base_footprint" />
  <node pkg="tf2_ros" exec="static_transform_publisher" name="baselink2airy"  args="0.235 0 0.16 0.0 1.570795 0 base_link airy" />
  
</launch>
